@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-bg: #030509;
  --color-secondary-bg: #000000;

  --color-secondary-bg-light-1: #484848;

  --color-secondary-bg-dark-1: #151a22;

  --color-primary-text: #dddddd;
  --color-secondary-text: #7f7f7f;
  --color-secondary-text-light-2: #9a9a9a;

  --color-completion-status: #80a857;
  --color-live-view: #a85757;

  --color-heading-1: #5790a8;

  /* Fonts */
  --font-inter: var(--font-inter);

  /* Breakpoints */
  --breakpoint-xs: 23rem;

  /* WIP - Work In Progress */
  --color-wip-text: hsl(225, 25%, 81%);
  --color-wip-border: hsl(233, 20%, 36%);
  --color-wip-bg: hsla(218, 100%, 18%, 0.274);
}

[data-theme="light"] {
  --color-primary-bg: #ffffff;
  --color-secondary-bg: #e2e2e2;

  --color-primary-text: #000000;
  --color-secondary-text: #424242;

  --color-wip-text: hsl(232, 78%, 21%);
  --color-wip-border: hsl(232, 63%, 37%);
  --color-wip-bg: hsla(218, 35%, 58%, 0.315);
}
